extends ../../navbar

block navbar

	.container
		.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
			table.table.table-nonfluid(ng-controller='peliCtrl')
				tr
					th.text-center Portada
					th.text-center Titulo
					th.text-center Sinopsis
				tr(ng-repeat='pelicula in peliculas')
					td.text-center(width='400')
						a(href='#')
							img.portadas(src='{{pelicula.rutaPortada}}')
					td.text-center(width='400')
						p {{pelicula.titulo}}
					td(width='400')
						p {{pelicula.sinopsis}}
