extends navbar

block navbar
	#Menu.container.text-center
		h3 Menú Principal
		.row
			.col-md-4
				p.text-center
					strong Peliculas
				a(href='peliculas')
					img.img-responsive(src='Images/Sin título-1.png', alt='Random Name')
			.col-md-4
				p.text-center
					strong Música
				a(href='musica')
					img.img-responsive(src='Images/musica.png', alt='Random Name')
			.col-md-4
				p.text-center
					strong Documentales
				a(href='documentales')
					img.img-responsive(src='Images/documental.png', alt='Random Name')